section {
    display: flex;
    flex-direction: column;
   align-content: flex-end;
   background-repeat: no-repeat;
}

textarea {
    height: 20vh;
    width: 20vw;
    display: flex;
}

/* h1 {
    
    border: 2px solid lightgray;
} */

